* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.container {
  padding: 0 17%;
  width: 100%;
}

section > div {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #FFF;
}
.logo a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.logo--footer {
  font-size: 46px;
}
.logo--footer a {
  color: #ccc;
}

.heading {
  padding-bottom: 40px;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: bold;
  line-height: 0.93;
  text-align: center;
  color: #FFF;
  position: relative;
  text-transform: uppercase;
}
.heading--section {
  margin-top: 23px;
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
}
.heading--section::after {
  content: "";
  width: 70px;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(243, 129, 129, 0.9);
}

.subheading {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: normal;
  text-align: center;
  color: #FFF;
}
.subheading--section {
  font-size: 24px;
  color: #333;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}
.paragraph--accordion {
  font-weight: 300;
  font-style: italic;
}

body {
  position: relative;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 90%), url(../images/bg_header.png);
  background-position: center;
  background-size: cover;
}
.header > div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.header a:hover {
  color: #fce38a;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(252, 227, 138, 0.8901960784);
}
.header__navigation {
  width: 60%;
}
.header__content {
  margin: 10% auto;
  text-align: center;
}
.header__heading {
  margin-top: 2%;
}
.header__btn-learn {
  margin-top: 50px;
}

.section-team {
  padding-top: 0;
  padding-bottom: 100px;
}
.section-team__paragraph {
  margin-top: 50px;
  text-align: center;
  padding: 0px 12%;
}
.section-team__people {
  margin-top: 8%;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  column-gap: 2%;
}
.section-team__person-details {
  margin-top: 10px;
  text-align: center;
}
.section-team__person-details.label {
  margin-top: 30px;
}

.section-services {
  padding-top: 50px;
  padding-bottom: 30px;
}
.section-services__offer-items {
  margin-top: 50px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.footer__container {
  padding-bottom: 10px;
  display: grid;
  grid-template: 1fr/repeat(1, 1fr) 1fr;
  grid-column-gap: 40%;
  border-top: 1px solid #e5e5e5;
}
.footer__paragraph {
  margin-top: 20px;
}
.footer__followers {
  margin-top: 10%;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
}
.footer__followers span {
  font-size: 20px;
  font-weight: bold;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 75%;
}
.footer__socials img {
  width: 16px;
}
.footer__form {
  margin-top: 2%;
}
.footer__blogs-container {
  margin-top: 30px;
  display: grid;
  grid-template: repeat(3, 1fr)/1fr;
  row-gap: 5%;
}
.footer__instagram-container {
  margin-top: 30px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-gap: 2px;
}
.footer__instagram-container picture {
  width: 100%;
  display: block;
}
.footer__instagram-container img {
  width: 100%;
  display: block;
}
.footer__insta-url {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  align-self: center;
}
.footer__credentials {
  padding: 2%;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
}
.footer__credentials span {
  color: rgba(243, 129, 129, 0.9);
  padding-left: 5px;
}
.footer__icon-credentials {
  text-align: center;
}
.footer__icon-credentials a {
  text-decoration: none;
  color: #333;
  font-size: 8px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  list-style: none;
}
.nav__menu-item {
  text-transform: uppercase;
  font-size: 14px;
}
.nav__menu-item a:hover {
  padding-bottom: 5px;
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}
.nav__hamburger-menu {
  display: none;
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
}
.nav__action-buttons {
  padding-left: 10%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__btn {
  width: 20px;
}
.nav__btn img {
  width: 100%;
}
.nav__btn svg {
  fill: #FFF;
}
.nav__btn:hover svg {
  fill: #fce38a;
}

.btn {
  background: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.3s;
}
.btn--learn {
  padding: 10px 3%;
  border: 2px solid #FFF;
}
.btn--learn:hover {
  background-color: rgba(51, 51, 51, 0.384);
}
.btn--subscribe {
  color: #FFF;
  background-color: #95e1d3;
}
.btn--subscribe:hover {
  background-color: #f38181;
  opacity: 0.8;
}
.btn:active, .btn:focus {
  outline: none;
}

.short-form {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.short-form__input {
  padding: 3%;
  width: 60%;
  height: 100%;
  border: none;
  border: 1px solid #ccc;
  background: none;
}
.short-form__input::placeholder {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}
.short-form__input:focus, .short-form__input:active {
  outline: none;
  border: 1px solid #f38181;
}
.short-form__btn {
  width: 40%;
  height: 100%;
}

.photo {
  width: 100%;
  position: relative;
  background-color: #95e1d3;
  cursor: pointer;
}
.photo:hover .photo__container, .photo:hover .photo__container-port {
  transition: transform 0.3s linear;
}
.photo:hover .photo__container::after, .photo:hover .photo__container-port::after {
  content: "";
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0, rgba(252, 227, 138, 0.9) 90%);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.photo:hover .photo__container {
  transform: translate(-10px, -10px);
}
.photo:hover .photo__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.photo__image {
  width: 100%;
  display: block;
}
.photo__image img {
  width: 100%;
  display: block;
}
.photo__social {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  width: 70%;
}
.photo__social img {
  width: 100%;
  display: block;
}
.photo__social-url {
  padding: 10px;
  width: 25%;
  background-color: #fce38a;
  display: flex;
  height: 56px;
}
.photo__social-url:not(:last-child) {
  border-right: 0.2px solid rgba(243, 129, 129, 0.9);
}
.photo__social-url:hover {
  background-color: rgba(243, 129, 129, 0.9);
}
.photo__social-url:hover svg {
  fill: #FFF;
}
.photo__social-url svg {
  margin: auto;
  fill: rgba(243, 129, 129, 0.9);
}

.offer-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10% 5%;
}
.offer-item__image {
  width: 18%;
  display: block;
}
.offer-item__image img {
  width: 100%;
  max-height: 32px;
}
.offer-item__content {
  width: 80%;
  padding-left: 5px;
}
.offer-item__paragraph {
  margin-top: 10px;
}

/*# sourceMappingURL=main.css.map */
