.header {
    padding-top: 30px;
    padding-bottom: 100px;
    background-image: linear-gradient(
            to bottom,
            $color-gradient-top 0%,
            $color-gradient-bottom 90%
        ),
        url(../images/bg_header.png);
    background-position: center;
    background-size: cover;

    & > div {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__top-navigation {
        @include flex($align: flex-end);
    }

    & a {
        text-decoration: none;
        color: #FFF;
        cursor: pointer;

        &:hover {
            color: $color-text-hover;
            padding-bottom: 5px;
            border-bottom: 2px solid rgba(252, 227, 138, 0.8901960784);
        }

    }

    &__navigation {
        width: 60%;
    }

    &__content {
        margin: 10% auto;
        text-align: center;
    }

    &__heading {
        margin-top: 2%;
    }

    &__btn-learn {
        margin-top: 50px;
    }
}
