$color-main-dark: #333;

$color-paragraph: #999999;

$color-gradient-top: rgba(243, 129, 129, .9);
$color-gradient-bottom: rgba(252, 227, 138, .9);

$color-services-icons-background: #95e1d3;

$color-text-hover: #fce38a;