.short-form {
    height: 38px;
    @include flex;
    flex-wrap: nowrap;

    &__input {
        padding: 3%;
        width: 60%;
        height: 100%;
        border: none;
        border: 1px solid #ccc;
        background: none;

        &::placeholder {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
            color: #cccccc;
        }

        &:focus,
        &:active {
            outline: none;
            border: 1px solid #f38181;
        }
    }

    &__btn {
        width: 40%;
        height: 100%;
    }
}
