.offer-item {
    @include flex($align: flex-start);
    padding: 10% 5%;

    &__image {
        width: 18%;
        display: block;

        & img {
            width: 100%;
            max-height: 32px
        }
    }
    &__content {
        width: 80%;
        padding-left: 5px;
    }

    &__paragraph {
        margin-top: 10px;
    }
}
